ReferenceData.Tests/Service References/SubdivisionServiceRef/SubdivisionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubdivisionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60926/SubdivisionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60926/SubdivisionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60926/SubdivisionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReferenceData.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubdivisionService_GetSubdivisions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubdivisions" />
  </wsdl:message>
  <wsdl:message name="ISubdivisionService_GetSubdivisions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubdivisionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISubdivisionService_GetSubdivisionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubdivisionById" />
  </wsdl:message>
  <wsdl:message name="ISubdivisionService_GetSubdivisionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubdivisionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISubdivisionService_GetItemsByCountryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsByCountryId" />
  </wsdl:message>
  <wsdl:message name="ISubdivisionService_GetItemsByCountryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsByCountryIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubdivisionService">
    <wsdl:operation name="GetSubdivisions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubdivisionService/GetSubdivisions" message="tns:ISubdivisionService_GetSubdivisions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubdivisionService/GetSubdivisionsResponse" message="tns:ISubdivisionService_GetSubdivisions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubdivisionById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubdivisionService/GetSubdivisionById" message="tns:ISubdivisionService_GetSubdivisionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubdivisionService/GetSubdivisionByIdResponse" message="tns:ISubdivisionService_GetSubdivisionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsByCountryId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubdivisionService/GetItemsByCountryId" message="tns:ISubdivisionService_GetItemsByCountryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubdivisionService/GetItemsByCountryIdResponse" message="tns:ISubdivisionService_GetItemsByCountryId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubdivisionService" type="tns:ISubdivisionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubdivisions">
      <soap:operation soapAction="http://tempuri.org/ISubdivisionService/GetSubdivisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubdivisionById">
      <soap:operation soapAction="http://tempuri.org/ISubdivisionService/GetSubdivisionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsByCountryId">
      <soap:operation soapAction="http://tempuri.org/ISubdivisionService/GetItemsByCountryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubdivisionService">
    <wsdl:port name="BasicHttpBinding_ISubdivisionService" binding="tns:BasicHttpBinding_ISubdivisionService">
      <soap:address location="http://localhost:60926/SubdivisionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>