ReferenceData.Tests/Service References/SubdivisionServiceRef/SubdivisionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReferenceData.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReferenceData.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSubdivision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subdivision" nillable="true" type="tns:Subdivision" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubdivision" nillable="true" type="tns:ArrayOfSubdivision" />
  <xs:complexType name="Subdivision">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subdivision" nillable="true" type="tns:Subdivision" />
</xs:schema>