ReferenceData/Service References/LocationServiceReference/LocalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60926/LocalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60926/LocalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60926/LocalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReferenceData.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocalService_GetLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="ILocalService_GetLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalService_GetLocationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationById" />
  </wsdl:message>
  <wsdl:message name="ILocalService_GetLocationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalService_GetLocationsBySubdivisionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsBySubdivisionId" />
  </wsdl:message>
  <wsdl:message name="ILocalService_GetLocationsBySubdivisionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsBySubdivisionIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocalService">
    <wsdl:operation name="GetLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalService/GetLocations" message="tns:ILocalService_GetLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalService/GetLocationsResponse" message="tns:ILocalService_GetLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalService/GetLocationById" message="tns:ILocalService_GetLocationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalService/GetLocationByIdResponse" message="tns:ILocalService_GetLocationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationsBySubdivisionId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalService/GetLocationsBySubdivisionId" message="tns:ILocalService_GetLocationsBySubdivisionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalService/GetLocationsBySubdivisionIdResponse" message="tns:ILocalService_GetLocationsBySubdivisionId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocalService" type="tns:ILocalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/ILocalService/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationById">
      <soap:operation soapAction="http://tempuri.org/ILocalService/GetLocationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationsBySubdivisionId">
      <soap:operation soapAction="http://tempuri.org/ILocalService/GetLocationsBySubdivisionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalService">
    <wsdl:port name="BasicHttpBinding_ILocalService" binding="tns:BasicHttpBinding_ILocalService">
      <soap:address location="http://localhost:60926/LocalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>